.searchapi input {
    padding: 0 44px;
    max-width:70%;
    margin: 0 5%;
    height: 65px;
    display: flex;
    align-items: center;
}
.input-group {
    display: flex;
    z-index: 9999999;
    color: red;
}
.searchapi > div {
    margin: 0;
    justify-content: space-between;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.input-group > span {
    color: blue;
    position: absolute;
    z-index: 999;
   
    width: 100%;
}

.input-group > span {
    color: #9b9be7;
    position: absolute;
    z-index: 999;
  
    width: 20px;
    margin: 0px 20px;
    font-size: 23px;
}
.input-group button {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    border:1px solid #062f6d;
    width: 30px;
    height: 30px;
    z-index: 99;
    right: 0;
    margin: 10px 25px;
    border: 0;
    color: #007bff;
    border-radius: 30px;
}